<!-- footer.component.html -->

<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <img class="logo" src="{{ imagePath }}logo.png" alt="Logo de votre site">
        </div>
        <div class="footer-links">
            <a href="#">Accueil</a>
            <a href="#">Produits</a>
            <a href="#">Panier</a>
        </div>
        <div class="footer-social">
            <!-- Ajoutez des icônes ou des liens vers vos réseaux sociaux ici -->
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 Kechiche Hazem. Tous droits réservés.</p>
    </div>
</footer>
